@{
    ViewBag.Title = "Home Page";
}

@*virtual DOM...document object model...abstraction of an abstraction...instead of refreshing everything, compares changes 
to original DOM and changes what is needed...lightweight, works faster*@

<script>
    class HelloMessage extends React.Component {
        render() {
            return <div>Hello{this.props.name}</div>;
        }
    }

    ReactDom.render(<HelloMessage name="Jane" />, mountNode);

</script>